# Course Title: Programming Language II  
Course Code: CSE 111 

Lab Assignment No.07

In [ ]:
#Name: Umama Tasnuva Aziz
#ID: 21301570
#Section: 10

In [1]:
#Task:1
class Student:
    def __init__(self, name='Just a student', dept='nothing'):
        self.__name = name
        self.__department = dept
    def set_department(self, dept):
        self.__department = dept
    def get_name(self):
        return self.__name
    def set_name(self,name):
        self.__name = name
    def __str__(self):
        return 'Name: '+self.__name+' Department: '+self.__department
class BBA_Student(Student):
    def __init__(t,a="default",sectr="BBA"):
        super().__init__(a,sectr)
print(BBA_Student())
print(BBA_Student('Humpty Dumpty'))
print(BBA_Student('Little Bo Peep'))

Name: default Department: BBA
Name: Humpty Dumpty Department: BBA
Name: Little Bo Peep Department: BBA

In [8]:
#Task:2
class Vehicle:
    def __init__(self):
        self.x = 0
        self.y = 0
    def moveUp(self):
        self.y+=1
    def moveDown(self):
        self.y-=1
    def moveRight(self):
        self.x+=1
    def moveLeft(self):
        self.x-=1
    def __str__(self):
        return '('+str(self.x)+' , '+str(self.y)+')'
class Vehicle2010(Vehicle):
    def __init__(self):
        super().__init__()

    def moveUpperRight(self):
        self.moveUp()
        self.moveRight()

    def moveUpperLeft(self):
        self.moveLeft()
        self.moveUp()

    def moveLowerRight(self):
        self.moveDown()
        self.moveRight()

    def moveLowerLeft(self):
        self.moveDown()
        self.moveLeft()

    def equals(self,CaR):
        if self.x==CaR.x  and  self.y==CaR.y:
            return True
        else:
            return False
      
print('Part 1')
print('------')
car = Vehicle()
print(car)
car.moveUp()
print(car)
car.moveLeft()
print(car)
car.moveDown()
print(car)
car.moveRight()
print(car)
print('------')
print('Part 2')
print('------')
car1 = Vehicle2010()
print(car1)
car1.moveLowerLeft()
print(car1)
car2 = Vehicle2010()
car2.moveLeft()
print(car1.equals(car2))
car2.moveDown()
print(car1.equals(car2))
print('------')

Part 1
------
(0 , 0)
(0 , 1)
(-1 , 1)
(-1 , 0)
(0 , 0)
------
Part 2
------
(0 , 0)
(-1 , -1)
False
True
------

In [10]:
#Task:3
class Tournament:
    def __init__(self, name ='Default'):
        self.__name = name
        #print("Hl")
    def set_name(self, name):
        self.__name = name

    def get_name(self):
        return self.__name

class Cricket_Tournament(Tournament):
    def __init__(self, name ="Default", t = 0, type1 = "No type"):
        super().__init__(name)
        self.__t = t
        self.__type1 = type1
    def detail(self):
        return "Cricket Tournament Name: " + super().get_name() + "\nNumber of Teams:" + str(self.__t) + "\nType: " + self.__type1
class Tennis_Tournament(Tournament):
    def __init__(self,name,Players):
        super().__init__(name)
        
        self.__num_of_players = Players
    def detail(self):
        return 'Tennis Tournament Name: '+ super().get_name() + '\nNumber of Players: ' + str(self.__num_of_players)
        
ct1 = Cricket_Tournament()
print(ct1.detail())
print("-----------------------")
ct2 = Cricket_Tournament("IPL", 10, "t20")
print(ct2.detail())
print("-----------------------")
tt = Tennis_Tournament("Roland Garros",128)
print(tt.detail())

Cricket Tournament Name: Default
Number of Teams:0
Type: No type
-----------------------
Cricket Tournament Name: IPL
Number of Teams:10
Type: t20
-----------------------
Tennis Tournament Name: Roland Garros
Number of Players: 128

In [11]:
#Task:4
class Product:
    def __init__(self, id, title, price):
        self.__id = id
        self. __title = title
        self. __price = price
    def get_id_title_price(self):
        return "ID: " + str(self.__id) + " Title: " + self.__title + " Price: " + str(self.__price)

class Book(Product):
    def __init__(s, id, title, price, qqq, publisher):
        super().__init__(id, title, price)
        s.__qqq = qqq
        s.__Pub = publisher
    def printDetail(s):
        return super().get_id_title_price() + "\nISBN: " + s.__qqq + " Publisher: " + s.__Pub

class CD(Product):
    def __init__(s, id, title, price, band, time, genre):
        super().__init__(id, title, price)
        s.__band = band
        s.__time = time
        s.__genre = genre
    def printDetail(s):
        return super().get_id_title_price() + '\nBand: ' + s.__band + " Duration: " + str(s.__time) + "minutes" + "\nGenre: " + s.__genre


book = Book(1, "The Alchemist", 500, "97806", "HarperCollins")
print(book.printDetail())
print("-----------------------")
cd = CD(2, "Shotto", 300, "Warfaze", 50, "Hard Rock")
print(cd.printDetail())

ID: 1 Title: The Alchemist Price: 500
ISBN: 97806 Publisher: HarperCollins
-----------------------
ID: 2 Title: Shotto Price: 300
Band: Warfaze Duration: 50minutes
Genre: Hard Rock

In [12]:
#Task:5
class Animal:
    def __init__(self, sound):
        self.__sound = sound
    def makeSound(self):
        return self.__sound
class Printer:
    def printSound(self, a):
        print(a.makeSound())
class Dog(Animal):
    def __init__(j, volume):
        super().__init__(volume)
class Cat(Animal):
    def __init__(j, volume):
        super().__init__(volume)
d1 = Dog('bark')
c1 = Cat('meow')
a1 = Animal('Animal does not make sound')
pr = Printer()
pr.printSound(a1)
pr.printSound(c1)
pr.printSound(d1)

Animal does not make sound
meow
bark

In [13]:
#Task:6
class Shape:
    def __init__(self, name = 'Default', height = 0, base = 0):
        self.area = 0
        self.name = name
        self.height = height
        self.base = base
    def get_height_base(self):
        return "Height: " + str(self.height) + ", Base: " + str(self.base)
class triangle(Shape):
    def __init__(self,name = "Default", height = 0, base = 0):
        super().__init__(name, height, base)
    def calcArea(self):
        self.area = .5 * self.base * self.height
    def printDetail(self):
        return "Shape name: " + self.name + "\n" + super().get_height_base() + "\nArea: " + str(self.area)
class trapezoid(Shape):
    def __init__(self, name, height, base, side_A):
        super().__init__(name, height, base)
        self.side_A = side_A
    def calcArea(self):
        self.area = (self.base + self.side_A)/2*self.height
    def printDetail(self):
        return "Shape name: " + self.name + "\n" + super().get_height_base() + ", Side_A: " + str(self.side_A) + "\nArea: " + str(self.area)
tri_default = triangle()
tri_default.calcArea()
print(tri_default.printDetail())
print('--------------------------')
tri = triangle('Triangle', 10, 5)
tri.calcArea()
print(tri.printDetail())
print('---------------------------')
trap = trapezoid('Trapezoid', 10, 6, 4)
trap.calcArea()
print(trap.printDetail())

Shape name: Default
Height: 0, Base: 0
Area: 0.0
--------------------------
Shape name: Triangle
Height: 10, Base: 5
Area: 25.0
---------------------------
Shape name: Trapezoid
Height: 10, Base: 6, Side_A: 4
Area: 50.0

In [14]:
#Task:7
class Football:
    def __init__(self, team_name, name, role):
        self.__team = team_name
        self.__name = name
        self.role = role
        self.earning_per_match = 0
    def get_name_team(self):
        return 'Name: '+ self.__name + ', Team Name: ' + self.__team
class Player(Football):
    def __init__(self, tm, name, role, g, m):
        super().__init__(tm, name, role)
        self.g = g
        self.m = m
    def calculate_ratio(self):
        self.ratio = self.g/self.m
    def print_details(self):
        print(super().get_name_team())
        print("Team role: " + self.role)
        print("Total Goal: " + str(self.g) + "," + " Total played: ", str(self.m))
        print("Goal Ratio: ",self.ratio)
        print("Match Earning: " + str(self.g * 1000 + self.m * 10) + "K")
class Manager(Football):
    def __init__(self, tm, name, role, win):
        super().__init__(tm, name, role)
        self.win = win
    def print_details(self):
        print(super().get_name_team())
        print("Team role: ", self.role)
        print("Total win: ", self.win)
        print("Match earning: " + str(self.win*1000) + "K")
player_one = Player('Juventus', 'Ronaldo', 'Striker', 25, 32)
player_one.calculate_ratio()
player_one.print_details()
print('------------------------------------------')
manager_one = Manager('Real Madrid', 'Zidane', 'Manager', 25)
manager_one.print_details()

Name: Ronaldo, Team Name: Juventus
Team role: Striker
Total Goal: 25, Total played:  32
Goal Ratio:  0.78125
Match Earning: 25320K
------------------------------------------
Name: Zidane, Team Name: Real Madrid
Team role:  Manager
Total win:  25
Match earning: 25000K